@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-y: hidden; */
  overflow-x: hidden;
}

:root {
  --primary-color: #000;
  --secondary-color: #7c90a0;
  --strong-color: #a8201a;
}

.start_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

.start_container h1 {
  font-size: 6rem;
  font-family: Montserrat, sans-serif;
  color: white;
}

.landing_container {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  display: flex;
  perspective: 2px;
}

.left_box {
  flex-basis: 60%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-left: 10rem;
}

.nom {
  margin-bottom: -30px;
}

.left_box span {
  font-size: 15rem;
  font-family: Caveat Brush, sans-serif;
  display: inline-block;
  padding-right: 1rem;
}

.left_box p {
  font-size: 4rem;
  font-family: Montserrat;
  letter-spacing: 0.5rem;
  color: #fee140;
}

.right_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}

/* Effet Cube */

.containerCube {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  animation: spin 15s infinite linear;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background: linear-gradient(#fa709a, #fee140);
  font-family: Caveat brush, sans-serif;
}

.faceTop {
  transform: rotateX(90deg) translateZ(100px);
  /* animation: explosionTop 15s ease-out infinite; */
}

.faceBottom {
  transform: rotateX(-90deg) translateZ(100px);
  /* animation: explosionBottom 15s ease-out infinite; */
}
.faceLeft {
  transform: rotateY(-90deg) translateZ(100px);
  /* animation: explosionLeft 15s ease-out infinite; */
}
.faceRight {
  transform: rotateY(90deg) translateZ(100px);
  /* animation: explosionRight 15s ease-out infinite; */
}
.faceBack {
  transform: rotateX(-180deg) translateZ(100px);
  /* animation: explosionBack 15s ease-out infinite; */
}
.faceFront {
  transform: rotateX(0deg) translateZ(100px);
  /* animation: explosionFront 15s ease-out infinite; */
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* .absolute {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
} */

.presentation {
  /* margin-top: 20rem; */
  padding: 10rem 10rem 10rem;
}

.presentation h1,
.parcour h1 {
  font-size: 12rem;
  font-family: Caveat brush, sans-serif;
  margin: 0 auto;
  margin-bottom: 10rem;
  width: fit-content;
}

.presentation h1::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  content: "";
  width: 60%;
  height: 3px;
  /* position: relative; */
  background-color: black;
}

.presentation p {
  font-size: 2rem;
  font-family: Montserrat, serif;
  /* width: 70%; */
  margin: 0 auto;
  line-height: 5rem;
  height: 100%;
  text-align: center;
}

.parcour {
  padding: 0 10rem 70rem;
  position: relative;
}

.parcour_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content_box {
  width: 35rem;
  height: 45rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  z-index: 1000;
}

/* .content_box1 {
  top: 23%;
  left: 18%;
} */

/* .content_box2 {
  top: 23%;
  right: 18%;
} */

/* .content_box3 {
} */

/* .content_box4 {
  top: 90%;
  left: ;
}

.content_box5 {
  top: 90%;
  left: ;
}

.content_box6 {
  top: 90%;
  left: ;
} */

.box_img {
  width: 100%;
  height: 40%;
}

.box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.box_graphique {
  height: 60%;
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.box_graphique svg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}

.box_graphique svg circle {
  fill: transparent;
  /* stroke: green; */
  stroke-width: 2rem;
  transform: translate(1rem, 1rem);
  stroke-dasharray: 691;
  /* stroke-dashoffset: 69; */
  stroke-linecap: round;
  z-index: 100;
}

.box_graphique svg g circle:nth-child(1) {
  stroke: rgb(236, 234, 234);
  stroke-dashoffset: 0;
}

.box_graphique1 svg g circle:nth-child(2) {
  stroke: #22a900;
  stroke-dashoffset: 69;
}

.box_graphique2 svg g circle:nth-child(2) {
  stroke: #66b400;
  stroke-dashoffset: 104;
}
.box_graphique3 svg g circle:nth-child(2) {
  stroke: #95bd63;
  stroke-dashoffset: 276;
}
.box_graphique4 svg g circle:nth-child(2) {
  stroke: #95bd5c;
  stroke-dashoffset: 242;
}
.box_graphique5 svg g circle:nth-child(2) {
  stroke: #f0af09;
  stroke-dashoffset: 345;
}
.box_graphique6 svg g circle:nth-child(2) {
  stroke: #f2164b;
  stroke-dashoffset: 484;
}

.box_graphique span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
  font-family: Caveat Brush, serif;
}

.contact {
  height: 500px;
  background-color: red;
}
