@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  height: 100vh;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
}

.scroll {
  height: 100vh;
  width: 100%;
}

:root {
  --primary-color: #252525;
  --secondary-color: #02dbff;
  --third-color: whitesmoke;
  --title-size: 12rem;
}

.wrapper {
  max-width: 1900px;
  margin: 0 auto;
  position: relative;
  height: inherit;
  /* fix the bug with the right white space */
  overflow-x: hidden;
  /* fix the bug with the left white space */
  min-width: 100vw;
}

/*#######################################-- Landing --#######################################*/

.landing {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--third-color);
}

.landing_container {
  width: inherit;
  height: inherit;
  background-color: black;
  clip-path: ellipse(80vw 100vh at 50% 0vh);
  position: relative;
}

.landing_background {
  width: inherit;
  height: inherit;
  background: url("../../assets/imgs/headerBackground.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: -30% 60%;
}

.landing_content {
  position: absolute;
  top: 30%;
  left: 7%;
  z-index: 100;
  background-color: transparent;
  perspective: 1000px;
}

.firstName {
  overflow: hidden;
}

.firstName span,
.lastName span {
  display: inline-block;
  color: var(--third-color);
  font-size: 9rem;
  letter-spacing: 1.2rem;
  transform-style: preserve-3d;
  margin-right: -5px;
  font-family: Montserrat, sans-serif;
}

.landing_content p {
  color: var(--secondary-color);
  font-size: 6rem;
  font-family: Caveat Brush, sans-serif;
  letter-spacing: 0.5rem;
}

/*#######################################-- Presentation --#######################################*/

.presentation {
  width: 100%;
  padding-top: 20rem;
  position: relative;
  background: linear-gradient(to bottom, var(--third-color) 0%, var(--third-color) 80%, var(--primary-color) 80%, var(--primary-color) 100%);
}

.presentation_container {
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

.presentation_container h1 {
  font-size: var(--title-size);
  font-family: Caveat brush, sans-serif;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: fit-content;
}

.presentation_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 80vh;
  margin: 15rem auto;
  background-color: var(--secondary-color);
  position: relative;
  left: 9%;
  padding: 10rem;
  border-radius: 0px 90px 0px 90px;
}

.presentation_picContainer {
  width: 65%;
  height: 80%;
  background-color: black;
  position: absolute;
  left: -25%;
  border-radius: 0px 90px 0px 90px;
}

.presentation_picture {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 0px 90px 0px 90px;
}

.picture1 {
  display: block;
  background: url("../../assets/imgs/presentation_pic2.jpg");
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.picture2 {
  display: none;
  background: url("../../assets/imgs/presentation_pic1.jpg");
  background-position: 70% top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.presentation_content {
  perspective: 1000px;
  flex-basis: 50%;
}

.content1 {
  transform-style: preserve-3d;
  display: block;
}

.content2 {
  display: none;
  transform-style: preserve-3d;
}

.presentation_content h2 {
  font-size: 8rem;
  font-family: Caveat Brush;
  padding-bottom: 3rem;
}

.presentation_content p {
  font-size: 2rem;
  line-height: 4rem;
  font-family: montserrat, sans-serif;
  text-align: justify;
}

@media screen and (max-width: 1750px) {
  .presentation_content {
    flex-basis: 60%;
  }

  .presentation_picContainer {
    width: 55%;
  }
}

@media screen and (max-width: 1050px) {
  .presentation_box {
    align-items: flex-end;
    left: 0%;
    margin: 30rem auto;
  }
  .presentation_content {
    flex-basis: 100%;
    height: 70%;
  }

  .presentation_picContainer {
    top: -10%;
    left: 10%;
    width: 80%;
    height: 40%;
  }
}

@media screen and (max-width: 350px) {
  .presentation_picContainer {
    display: none;
  }

  .presentation_content {
    height: 100%;
  }

  .presentation_box {
    /* height: 95vh; */
    padding: 5rem;
  }
}

/*#######################################-- Learn --#######################################*/

.learn {
  width: 100%;
  background-color: var(--primary-color);
  position: relative;
}

.learn_container {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 1rem 30rem;
}

.learn_title {
  width: 50%;
}

.learn_title h1 {
  overflow: hidden;
}

.learn_title h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--third-color);
  font-size: 15rem;
  word-wrap: none;
  font-family: Playfair Display, serif;
}

.learn_title h1:nth-child(3) span {
  color: var(--secondary-color);
}

.learn_content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}

.learn_box {
  width: 70%;
  margin: 4rem;
  position: relative;
  padding-right: 1.8rem;
}

.learn_box_title {
  display: flex;
  align-items: center;
}

.learn_box_title div {
  width: 12rem;
  height: 8rem;
  z-index: 100;
}

.learn_box_title svg {
  height: 100%;
  width: 100%;
}

.learn_box_title svg circle {
  stroke-dasharray: 288.56;
  stroke-dashoffset: 0;
}

.learn_box:nth-child(1) {
  left: 5%;
}

.learn_box:nth-child(2) {
  left: 10%;
}

.learn_box h3 {
  position: relative;
  left: 1.8rem;
  font-size: 4.2rem;
  color: var(--secondary-color);
  font-family: serif;
}

.learn_box p {
  font-size: 2.1rem;
  color: gray;
  opacity: 0.5;
  position: relative;
  left: 11rem;
  font-family: sans-serif;
}

.learn_background {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.learn_background img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left bottom;
}

@media screen and (min-width: 2100px) {
  .learn_background img {
    object-fit: cover;
  }
}

@media screen and (max-width: 700px) {
  .learn_container {
    flex-direction: column;
  }

  .learn_content {
    margin-top: 15rem;
    width: 100%;
    align-items: center;
  }

  .learn_title {
    width: 100%;
  }

  .learn_box:nth-child(1) {
    left: 0%;
  }

  .learn_box:nth-child(2) {
    left: 0%;
  }
  .learn_box p {
    left: 4rem;
    margin-top: 2rem;
  }
}
/*#######################################-- Parcour --#######################################*/

.parcour {
  position: relative;
  width: 100%;
  padding-top: 20rem;
  background-image: linear-gradient(
      90deg,
      rgba(165, 165, 165, 0.03) 0%,
      rgba(165, 165, 165, 0.03) 8%,
      rgba(235, 235, 235, 0.03) 8%,
      rgba(235, 235, 235, 0.03) 9%,
      rgba(7, 7, 7, 0.03) 9%,
      rgba(7, 7, 7, 0.03) 14%,
      rgba(212, 212, 212, 0.03) 14%,
      rgba(212, 212, 212, 0.03) 17%,
      rgba(219, 219, 219, 0.03) 17%,
      rgba(219, 219, 219, 0.03) 95%,
      rgba(86, 86, 86, 0.03) 95%,
      rgba(86, 86, 86, 0.03) 100%
    ),
    linear-gradient(
      67.5deg,
      rgba(80, 80, 80, 0.03) 0%,
      rgba(80, 80, 80, 0.03) 11%,
      rgba(138, 138, 138, 0.03) 11%,
      rgba(138, 138, 138, 0.03) 17%,
      rgba(122, 122, 122, 0.03) 17%,
      rgba(122, 122, 122, 0.03) 24%,
      rgba(166, 166, 166, 0.03) 24%,
      rgba(166, 166, 166, 0.03) 27%,
      rgba(245, 245, 245, 0.03) 27%,
      rgba(245, 245, 245, 0.03) 89%,
      rgba(88, 88, 88, 0.03) 89%,
      rgba(88, 88, 88, 0.03) 100%
    ),
    linear-gradient(
      67.5deg,
      rgba(244, 244, 244, 0.03) 0%,
      rgba(244, 244, 244, 0.03) 4%,
      rgba(16, 16, 16, 0.03) 4%,
      rgba(16, 16, 16, 0.03) 10%,
      rgba(157, 157, 157, 0.03) 10%,
      rgba(157, 157, 157, 0.03) 20%,
      rgba(212, 212, 212, 0.03) 20%,
      rgba(212, 212, 212, 0.03) 83%,
      rgba(5, 5, 5, 0.03) 83%,
      rgba(5, 5, 5, 0.03) 84%,
      rgba(237, 237, 237, 0.03) 84%,
      rgba(237, 237, 237, 0.03) 100%
    ),
    linear-gradient(90deg, #ffffff, #ffffff);
  z-index: -1;
}

.parcour_container {
  padding: 0 10rem 70rem;
  position: relative;
}

.parcour h1 {
  font-size: var(--title-size);
  font-family: Caveat brush, sans-serif;
  margin: 0 auto;
  margin-bottom: 10rem;
  width: fit-content;
}

.parcour_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.card {
  width: 35rem;
  height: 45rem;
  perspective: 800px;
  position: absolute;
  /* position définit en JS */
  z-index: 1000;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}

.card_box {
  width: inherit;
  height: inherit;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transform-style: preserve-3d;
}

.card_box_front {
  width: inherit;
  height: inherit;
}

.card_box_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      circle at center center,
      rgba(217, 217, 217, 0.05) 0%,
      rgba(217, 217, 217, 0.05) 15%,
      rgba(197, 197, 197, 0.05) 15%,
      rgba(197, 197, 197, 0.05) 34%,
      rgba(178, 178, 178, 0.05) 34%,
      rgba(178, 178, 178, 0.05) 51%,
      rgba(237, 237, 237, 0.05) 51%,
      rgba(237, 237, 237, 0.05) 75%,
      rgba(138, 138, 138, 0.05) 75%,
      rgba(138, 138, 138, 0.05) 89%,
      rgba(158, 158, 158, 0.05) 89%,
      rgba(158, 158, 158, 0.05) 100%
    ),
    radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 6%,
      rgb(255, 255, 255) 6%,
      rgb(255, 255, 255) 12%,
      rgb(255, 255, 255) 12%,
      rgb(255, 255, 255) 31%,
      rgb(255, 255, 255) 31%,
      rgb(255, 255, 255) 92%,
      rgb(255, 255, 255) 92%,
      rgb(255, 255, 255) 97%,
      rgb(255, 255, 255) 97%,
      rgb(255, 255, 255) 100%
    );
  background-size: 42px 42px;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card_box_back h2 {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  background: var(--primary-color);
  border-radius: 10px 10px 0 0;
  color: var(--secondary-color);
  font-family: Playfair Display, serif;
}

.card_box_back_infos {
  padding: 3rem 2rem 1rem;
}

.card_box_back ul {
  list-style-type: none;
}

.card_box_back ul li {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card_box_back ul li img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.card_img {
  width: 100%;
  height: 40%;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card_graphique {
  height: 60%;
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.card_graphique svg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.card_graphique svg g {
  transform: translate(19%, 10%);
}

.card_graphique svg circle {
  fill: transparent;
  stroke-width: 2rem;
  stroke-linecap: round;
}

.card_graphique svg g circle:nth-child(1) {
  stroke: rgb(236, 234, 234);
  stroke-dashoffset: 0;
}

.card_graphique1 svg g circle:nth-child(2) {
  stroke: #22a900;
  /* stroke-dashoffset: 69; */
}

.card_graphique2 svg g circle:nth-child(2) {
  stroke: #66b400;
  /* stroke-dashoffset: 104; */
}
.card_graphique3 svg g circle:nth-child(2) {
  stroke: #95bd63;
  /* stroke-dashoffset: 276; */
}
.card_graphique4 svg g circle:nth-child(2) {
  stroke: #95bd5c;
  /* stroke-dashoffset: 242; */
}
.card_graphique5 svg g circle:nth-child(2) {
  stroke: #f0af09;
  /* stroke-dashoffset: 345; */
}
.card_graphique6 svg g circle:nth-child(2) {
  stroke: #f2164b;
  /* stroke-dashoffset: 484; */
}

.card_graphique span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
  font-family: Caveat Brush, serif;
}

.parcour_content > svg {
  position: relative;
  z-index: 100;
}

.code {
  color: lightgray;
  font-size: 3rem;
  position: absolute;
  z-index: -1;
  opacity: 1;
}

.code_html {
  transform: translate(-80%, -50%) rotate(-15deg);
}

.code_css {
  transform: translate(70%, 0%) rotate(-15deg);
}

.code_js {
  transform: translate(-70%, -130%) rotate(-15deg);
}

.code_react {
  transform: translate(-85%, 0%) rotate(-15deg);
}

.code_firebase {
  transform: translate(10%, -15%) rotate(-15deg);
}

.code_gsap {
  transform: translate(-60%, 80%) rotate(-15deg);
}

/*#######################################-- Hobbies --#######################################*/
/* 
.hobbies {
  width: 100%;
  position: relative;
}

.hobbies_container {
  height: 1300px;
  width: 100%;
  position: relative;
}

.hobbies h1 {
  font-size: var(--title-size);
  font-family: Caveat brush, sans-serif;
  margin: 0 auto;
  margin-bottom: 10rem;
  width: fit-content;
}

.hobbies_content {
  padding: 0 20rem;
  position: relative;
  height: 800px;
  width: 70%;
  margin: 0 auto;
}

.hobbie {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 1);
}

.hobbies_txt {
  width: 100%;
  height: 120%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hobbies_txt span {
  display: block;
  width: 100%;
  white-space: nowrap;
  font-size: 10rem;
  color: lightgray;
  font-family: Caveat Brush, sans-serif;
}

.hobbie1 {
  width: 35rem;
  height: 20rem;
}
.hobbie2 {
  width: 20rem;
  height: 35rem;
}
.hobbie3 {
  width: 20rem;
  height: 30rem;
}
.hobbie4 {
  width: 35rem;
  height: 25rem;
  object-fit: contain;
}
.hobbie5 {
  width: 40rem;
  height: 20rem;
  top: 100%;
  left: 50%;
}
.hobbie6 {
  width: 20rem;
  height: 35rem;
  transform-origin: center;
}

.hobbie img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

/*#######################################-- Contact --#######################################*/

.contact {
  width: 100%;
  background-color: #252525;
  position: relative;
  box-shadow: 0px 5px 30px -20px var(--secondary-color);
  z-index: 100;
}

.contact_container {
  width: inherit;
}

.contact_question {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13rem 1rem;
  overflow: hidden;
}

.contact_title {
  width: 50%;
}

.contact_title h1 {
  overflow: hidden;
}

.contact_title h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Playfair Display, serif;
  color: var(--third-color);
  font-size: 15rem;
}

.contact_title h1:nth-child(2) span {
  color: var(--secondary-color);
}

.contact_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  z-index: 1000;
}

.contact_box {
  width: 70%;
  margin: 4rem 0rem;
  overflow: hidden;
  position: relative;
}

.contact_box2 {
  left: 10rem;
}

.contact_box3 {
  left: 5rem;
}

.contact_box_title {
  font-size: 4rem;
  color: var(--secondary-color);
  font-family: Monserrat sans-serif;
  display: flex;
  align-items: center;
  padding: 1.5rem 0rem;
}

.contact_box_title svg {
  width: 6rem;
  height: 6rem;
  color: var(--secondary-color);
  margin-right: 2rem;
}

.contact_box_title h3 {
  width: fit-content;
  position: relative;
  cursor: pointer;
  font-family: serif;
  font-size: 4.5rem;
  padding: 1rem 0rem;
}

.title_triangle {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  height: 0.5rem;
  border-top: 1rem solid #b0e0e6;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}

.title_stroke {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #b0e0e6;
}

.contact_box_content {
  font-size: 2.5rem;
  color: var(--third-color);
  height: 0px;
  transition: height 0.5s ease-out;
}

.contact_box_content ul {
  position: relative;
  left: 3rem;
}

.contact_box_content ul li {
  font-family: sans-serif;
  font-size: 2.3rem;
  padding: 0.5rem 0;
  line-height: 3rem;
}

.contact_fond_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 40rem;
}

.contact_fond_bottom img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left bottom;
}

@media screen and (max-width: 700px) {
  .contact_question {
    flex-direction: column;
  }

  .contact_title {
    width: 100%;
  }

  .contact_content {
    width: 100%;
    padding-top: 15rem;
  }

  .contact_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact_box1 {
    left: 0;
  }

  .contact_box2 {
    left: 0;
  }

  .contact_box3 {
    left: 0;
  }
  .contact_fond_bottom {
    width: 80%;
    height: 80%;
  }
}

/*#######################################-- contact contact --#######################################*/
.contact_contact {
  background-color: #2d2b2b;
  width: 100%;
  position: relative;
}

.contact_contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 2rem;
  overflow: hidden;
}

.contact_contact_box {
  display: flex;
  align-items: center;
}

.contact_contact_txt {
  font-size: 3rem;
  color: var(--third-color);
  font-family: Playfair Display, serif;
  margin: 0 4rem;
  width: 60%;
}

.contact_contact_txt span {
  margin: 0 -0.2rem;
  display: inline-block;
  color: var(--secondary-color);
}

.contact_contact_logo {
  width: 9rem;
  height: 8rem;
  border-radius: 2rem;
  box-shadow: 8px 8px 11px #121111, -8px -8px 11px #484545;
  padding: 1rem;
  display: block;
}

.contact_contact_logo:hover svg path {
  fill: var(--secondary-color);
}

.logo_gitHub {
  margin-right: 5rem;
}

.logo_email {
  margin-left: 5rem;
}

.contact_contact_logo svg {
  width: 100%;
  height: 100%;
}

.contact_contact_logo svg path {
  fill: var(--third-color);
}

/*#######################################-- Media query font-size--#######################################*/

@media screen and (max-width: 1700px) {
  :root {
    font-size: 55%;
  }
}

@media screen and (max-width: 1500px) {
  :root {
    font-size: 50%;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    font-size: 40%;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 35%;
  }
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 30%;
  }
}

@media screen and (max-width: 450px) {
  :root {
    font-size: 25%;
  }
}

@media screen and (min-width: 2200px) {
  :root {
    font-size: 70%;
  }
}

@media screen and (min-width: 2500px) {
  :root {
    font-size: 75%;
  }
}

@media screen and (min-width: 2900px) {
  :root {
    font-size: 80%;
  }
}
