@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  /* height: 100vh; */
  scrollbar-color: var(--color-background);
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
}

.scroll {
  height: 100vh;
  width: 100%;
}

:root {
  --primary-color: #151515;
  --secondary-color: #7c90a0;
  --strong-color: #a8201a;
  --color-background: #02dbff;
}

.wrapper {
  max-width: 1900px;
  margin: 0 auto;
  position: relative;
  height: inherit;
  /* fix the bug with the right white space */
  overflow-x: hidden;
  /* fix the bug with the left white space */
  min-width: 100vw;
}

/*#######################################-- Landing --#######################################*/

.landing {
  height: 100vh;
  width: 100%;
  position: relative;
}

.landing_container {
  width: inherit;
  height: inherit;
  background-color: black;
  clip-path: ellipse(80vw 100vh at 50% 0vh);
}

.landing_background {
  width: inherit;
  height: inherit;
  background: url("../../assets/imgs/background_2.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: -30% 60%;
}

.landing_content {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(0% -50%);
  z-index: 100;
  background-color: transparent;
  perspective: 1000px;
}

.firstName {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.firstName span,
.lastName span {
  display: inline-block;
  color: whitesmoke;
  font-size: 9rem;
  letter-spacing: 1.2rem;
  font-family: Caveat Brush, sans-serif;
  transform-style: preserve-3d;
  margin-right: -5px;
  font-family: Montserrat, sans-serif;
}

.landing_content p {
  color: #02dbff;
  font-size: 6rem;
  font-family: Caveat Brush, sans-serif;
  letter-spacing: 0.5rem;
}

/*#######################################-- Presentation --#######################################*/

.presentation {
  width: 100%;
  padding-top: 20rem;
  position: relative;
}

.presentation_container {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.presentation_container h1 {
  font-size: 12rem;
  font-family: Caveat brush, sans-serif;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: fit-content;
}

.presentation_box {
  display: flex;
  height: 80vh;
  justify-content: flex-end;
  align-items: center;
  margin: 15rem 0;
  background-color: #02dbff;
  position: relative;
  right: -15%;
  padding: 10rem;
  border-radius: 0px 90px 0px 90px;
}

.presentation_picContainer {
  width: 65%;
  height: 80%;
  background-color: black;
  position: absolute;
  left: -25%;
  border-radius: 0px 90px 0px 90px;
}

.presentation_picture {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 0px 90px 0px 90px;
}

.picture1 {
  display: block;
  background: url("../../assets/imgs/pic2.jpg");
  background-position: center;
}

.picture2 {
  display: none;
  background: url("../../assets/imgs/pic1.jpg");
  background-position: right top;
}

.presentation_content {
  perspective: 1000px;
  flex-basis: 50%;
}

.content1 {
  transform-style: preserve-3d;
  display: block;
}

.content2 {
  display: none;
  transform-style: preserve-3d;
}

.presentation_content h2 {
  font-size: 9rem;
  font-family: Caveat Brush;
  padding-bottom: 3rem;
}

.presentation_content p {
  font-size: 2rem;
  line-height: 3.5rem;
  font-family: montserrat;
}

/*#######################################-- Parcour --#######################################*/

.parcour {
  position: relative;
  width: 100%;
}

.parcour_container {
  padding: 0 10rem 70rem;
  position: relative;
}

.parcour h1 {
  font-size: 12rem;
  font-family: Caveat brush, sans-serif;
  margin: 0 auto;
  margin-bottom: 10rem;
  width: fit-content;
  /* background-color: red; */
}

.parcour_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.card {
  width: 35rem;
  height: 45rem;
  perspective: 800px;
  position: absolute;
  /* position définit en JS */
  z-index: 1000;
  border-radius: 10px;
  background: transparent;
}

.card_box {
  width: inherit;
  height: inherit;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transform-style: preserve-3d;
}

.card_box_front {
  width: inherit;
  height: inherit;
}

.card_box_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card_box_back h2 {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: white;
  border-radius: 10px 10px 0 0;
}

.card_box_back_infos {
  padding: 4rem;
}

.card_box_back ul li {
  font-size: 2rem;
}

.card_img {
  width: 100%;
  height: 40%;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card_graphique {
  height: 60%;
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.card_graphique svg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}

.card_graphique svg circle {
  fill: transparent;
  stroke-width: 2rem;
  transform: translate(1rem, 1rem);
  stroke-dasharray: 691;
  stroke-linecap: round;
}

.card_graphique svg g circle:nth-child(1) {
  stroke: rgb(236, 234, 234);
  stroke-dashoffset: 0;
}

.card_graphique1 svg g circle:nth-child(2) {
  stroke: #22a900;
  stroke-dashoffset: 69;
}

.card_graphique2 svg g circle:nth-child(2) {
  stroke: #66b400;
  stroke-dashoffset: 104;
}
.card_graphique3 svg g circle:nth-child(2) {
  stroke: #95bd63;
  stroke-dashoffset: 276;
}
.card_graphique4 svg g circle:nth-child(2) {
  stroke: #95bd5c;
  stroke-dashoffset: 242;
}
.card_graphique5 svg g circle:nth-child(2) {
  stroke: #f0af09;
  stroke-dashoffset: 345;
}
.card_graphique6 svg g circle:nth-child(2) {
  stroke: #f2164b;
  stroke-dashoffset: 484;
}

.card_graphique span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
  font-family: Caveat Brush, serif;
}

.parcour_content > svg {
  position: relative;
  z-index: 100;
}

.code {
  color: #151515;
  font-size: 3rem;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
}

.code_html {
  transform: translate(-80%, -50%) rotate(-15deg);
}

.code_css {
  transform: translate(70%, 0%) rotate(-15deg);
}

.code_js {
  transform: translate(-70%, -130%) rotate(-15deg);
}

.code_react {
  transform: translate(-85%, 0%) rotate(-15deg);
}

.code_firebase {
  transform: translate(10%, -15%) rotate(-15deg);
}

.code_gsap {
  transform: translate(-60%, 80%) rotate(-15deg);
}

/*#######################################-- Hobbies --#######################################*/

.hobbies {
  width: 100%;
  position: relative;
}

/* .txt {
  opacity: 0;
} */

.hobbies_container {
  height: 1300px;
  width: 100%;
  /* perspective: 1400px; */
  position: relative;
}

.hobbies h1 {
  font-size: 12rem;
  font-family: Caveat brush, sans-serif;
  margin: 0 auto;
  margin-bottom: 10rem;
  width: fit-content;
}

.hobbies_content {
  padding: 0 20rem;
  position: relative;
  height: 800px;
  width: 70%;
  margin: 0 auto;
  /* transform-style: preserve-3d; */
  /* background-color: aqua; */
}

.hobbie {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* transform-style: preserve-3d; */
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 1);
}

.hobbies_txt {
  width: 100%;
  height: 120%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hobbies_txt span {
  display: block;
  width: 100%;
  white-space: nowrap;
  font-size: 10rem;
  color: lightgray;
  font-family: Caveat Brush, sans-serif;
}

/* guitare */
.hobbie1 {
  width: 35rem;
  height: 20rem;
  /* top: 15%;
  left: 20%; */
}
/* fete */
.hobbie2 {
  width: 20rem;
  height: 35rem;
  /* top: 60%;
  left: 20%; */
}
/* lire */
.hobbie3 {
  width: 20rem;
  height: 30rem;
  /* top: 20%;
  left: 80%; */
}
/* mer */
.hobbie4 {
  width: 35rem;
  height: 25rem;
  object-fit: contain;
  /* top: 65%;
  left: 83%; */
}
/* repos */
.hobbie5 {
  width: 40rem;
  height: 20rem;
  top: 100%;
  left: 50%;
}

/* voyage */
.hobbie6 {
  width: 20rem;
  height: 35rem;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  transform-origin: center;
}

.hobbie img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*#######################################-- Contact --#######################################*/

.contact {
  height: 500px;
  background-color: red;
}
